.b1 {
  border-radius: 40px;
  border: 2px solid #4caf50;
  color: rgb(9, 168, 30);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: aliceblue;
  border-color: #3ed040;
  width: 300px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  box-shadow: 2px 2px 2px rgb(148, 140, 140);
}
.b2 {
  border-radius: 50%;
  border: 2px solid #4caf50;
  color: rgb(233, 240, 223);
  padding: 18px 32px;
  text-align: center;
  font-size: 26px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  margin: 30px 15px;
  cursor: pointer;
  background-color: #4caf50;
  box-shadow: 2px 2px 2px rgb(148, 140, 140);
}
.b3 {
  border: 2px solid rgb(14, 15, 16);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 300px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #008cba;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  color: rgb(225, 218, 218);
  box-shadow: 10px 5px 5px rgb(23, 21, 21);
}
div {
  left: 100px;
  margin: 10px;
}
